#Master DataFrame Assignment – Retail Sales SuperstoreDataset (All-In-One)

#TASKS ACROSS Pandas, PySpark, and Dask

PART 1: Pandas DataFrame Operations
1. Load the CSV using pandas .
2. Print schema, head, shape, dtypes.
3. Select Customer , Product , Profit columns.
4. Filter orders where Profit > 2000 and Discount = 0 .
5. Sort by Profit descending.
6. GroupBy Category → Total Profit, Avg Discount.
7. Add a column TotalPrice = Quantity * UnitPrice .
8. Drop the SubCategory column.
9. Fill nulls in Discount with 0.10.
10. Apply a function to categorize orders:

In [116]:
import pandas as pd
import numpy as np

data=pd.read_csv('superstore.csv')
print(data)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  15-01-2023     Ravi     Consumer  South    Laptop
1  CA-1002  20-02-2023    Priya    Corporate  North   Printer
2  CA-1003  25-01-2023     Amit     Consumer   East  Notebook
3  CA-1004  01-03-2023    Anita  Home Office   West     Table
4  CA-1005  05-02-2023    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000

In [117]:
df=pd.DataFrame(data)
print(df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  15-01-2023     Ravi     Consumer  South    Laptop
1  CA-1002  20-02-2023    Priya    Corporate  North   Printer
2  CA-1003  25-01-2023     Amit     Consumer   East  Notebook
3  CA-1004  01-03-2023    Anita  Home Office   West     Table
4  CA-1005  05-02-2023    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000

In [118]:
# 2️) Print schema, head, shape, dtypes
print(" Schema:", df.columns)
print()
print(" Head:", df.head())
print()
print(" Shape:", df.shape)
print()
print(" Data types:", df.dtypes)
print()

 Schema: Index(['OrderID', 'OrderDate', 'Customer', 'Segment', 'Region', 'Product',
       'Category', 'SubCategory', 'Quantity', 'UnitPrice', 'Discount',
       'Profit'],
      dtype='object')

 Head:    OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  15-01-2023     Ravi     Consumer  South    Laptop
1  CA-1002  20-02-2023    Priya    Corporate  North   Printer
2  CA-1003  25-01-2023     Amit     Consumer   East  Notebook
3  CA-1004  01-03-2023    Anita  Home Office   West     Table
4  CA-1005  05-02-2023    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000

 Shape: (5, 12)

 Data types: OrderID         object
OrderDate       object
Customer        object
Segment         object
Region          object
Product         object
Category        object
SubCategory     object
Quantity         int64
UnitPrice        int64
Discount       float64
Profit           int64
dtype: object

3. Select Customer , Product , Profit columns.

In [119]:
#3. Select Customer , Product , Profit columns
print(df[['Customer','Product','Profit']])

  Customer   Product  Profit
0     Ravi    Laptop    5000
1    Priya   Printer    1800
2     Amit  Notebook     150
3    Anita     Table   -1500
4    Divya     Phone    3000

In [120]:
#4. Filter orders where Profit > 2000 and Discount = 0 .
filter_profit=df['Profit']>2000
filter_discount=df['Discount']==0
print(df[filter_profit & filter_discount])

   OrderID   OrderDate Customer   Segment Region Product    Category  \
4  CA-1005  05-02-2023    Divya  Consumer  South   Phone  Technology

  SubCategory  Quantity  UnitPrice  Discount  Profit
4      Phones         2      20000       0.0    3000

In [121]:
#5. Sort by Profit descending.
print(df.sort_values(by='Profit',ascending=False))

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  15-01-2023     Ravi     Consumer  South    Laptop
4  CA-1005  05-02-2023    Divya     Consumer  South     Phone
1  CA-1002  20-02-2023    Priya    Corporate  North   Printer
2  CA-1003  25-01-2023     Amit     Consumer   East  Notebook
3  CA-1004  01-03-2023    Anita  Home Office   West     Table

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
4       Technology       Phones         2      20000      0.00    3000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500

In [122]:
# 6️ GroupBy Category → Total Profit, Avg Discount
grouped = df.groupby('Category').agg({'Profit': 'sum', 'Discount': 'mean'})
print(" Grouped Summary:", grouped)

 Grouped Summary:                  Profit  Discount
Category
Furniture         -1500  0.200000
Office Supplies     150  0.050000
Technology         9800  0.083333

In [123]:
# 7. Add a column TotalPrice = Quantity * UnitPrice
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
print(" TotalPrice Column:", df['TotalPrice'])

 TotalPrice Column: 0    55000
1    24000
2      600
3    18000
4    40000
Name: TotalPrice, dtype: int64

In [124]:
# 8. Drop the SubCategory column.
df = df.drop('SubCategory', axis=1)
print(" SubCategory Column Dropped:", df.columns)

 SubCategory Column Dropped: Index(['OrderID', 'OrderDate', 'Customer', 'Segment', 'Region', 'Product',
       'Category', 'Quantity', 'UnitPrice', 'Discount', 'Profit',
       'TotalPrice'],
      dtype='object')

In [125]:
# 9. Fill nulls in Discount with 0.10.
df['Discount'] = df['Discount'].fillna(0.10)
print(" Nulls in Discount Filled:", df['Discount'])

 Nulls in Discount Filled: 0    0.10
1    0.15
2    0.05
3    0.20
4    0.00
Name: Discount, dtype: float64

In [126]:
# 10. Apply a function to categorize orders:
def classify(row):
    if row['Profit'] > 4000:
        return 'High'
    elif row['Profit'] > 0:
        return 'Medium'
    else:
        return 'Low'

df['ProfitCategory'] = df.apply(classify, axis=1)
print(" Profit Category: ", df[['OrderID', 'Profit', 'ProfitCategory']])

 Profit Category:     OrderID  Profit ProfitCategory
0  CA-1001    5000           High
1  CA-1002    1800         Medium
2  CA-1003     150         Medium
3  CA-1004   -1500            Low
4  CA-1005    3000         Medium

PART 2: PySpark DataFrame Operations
1. Load the same CSV using PySpark.
2. Show schema and first 5 rows.
3. Select columns, Rename Customer → Client .
4. Filter Segment = 'Consumer' and Profit < 1000 .
OrderID,OrderDate,Customer,Segment,Region,Product,Category,SubCategory,Quantity,UnitPric
CA-1001,2023-01-15,Ravi,Consumer,South,Laptop,Technology,Computers,1,55000,0.10,5000
CA-1002,2023-02-
20,Priya,Corporate,North,Printer,Technology,Peripherals,2,12000,0.15,1800
CA-1003,2023-01-25,Amit,Consumer,East,Notebook,Office Supplies,Paper,3,200,0.05,150
CA-1004,2023-03-01,Anita,Home Office,West,Table,Furniture,Tables,1,18000,0.20,-1500
CA-1005,2023-02-05,Divya,Consumer,South,Phone,Technology,Phones,2,20000,0.00,3000

5. GroupBy Region and show average profit.
6. Use withColumn to create TotalPrice = Quantity * UnitPrice .
7. Use when().otherwise() to classify Profit as:
'Profit' > 2000 → 'High'
'Profit' <= 0 → 'Loss'
else 'Medium'
8. Use drop() to remove SubCategory .
9. Handle nulls in Discount using fillna(0.10) .
10. Convert OrderDate to date type and extract year , month .

In [127]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, year, month, to_date


spark = SparkSession.builder.appName("Superstore").getOrCreate()
df = spark.read.csv("superstore.csv", header=True, inferSchema=True)

In [128]:
# 2️ Show schema and first 5 rows
df.printSchema()
df.show(5)

root
 |-- OrderID: string (nullable = true)
 |-- OrderDate: string (nullable = true)
 |-- Customer: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- SubCategory: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- UnitPrice: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: integer (nullable = true)

+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1001|15-01-2023|    Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|
|CA-1002|20-02-2023|   Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|
|CA-1003|25-01-2023|    Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
|CA-1004|01-03-2023|   Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|
|CA-1005|05-02-2023|   Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+

In [129]:
# 3️ Select columns, rename Customer → Client
df_selected = df.select("OrderID",col("OrderDate"),col("Customer").alias("Client"),"Product","Profit")

df_selected.show()

+-------+----------+------+--------+------+
|OrderID| OrderDate|Client| Product|Profit|
+-------+----------+------+--------+------+
|CA-1001|15-01-2023|  Ravi|  Laptop|  5000|
|CA-1002|20-02-2023| Priya| Printer|  1800|
|CA-1003|25-01-2023|  Amit|Notebook|   150|
|CA-1004|01-03-2023| Anita|   Table| -1500|
|CA-1005|05-02-2023| Divya|   Phone|  3000|
+-------+----------+------+--------+------+

In [130]:
# 4️ Filter Segment = 'Consumer' and Profit < 1000
df_filtered = df.filter((col("Segment") == "Consumer") & (col("Profit") < 1000))
df_filtered.show()

+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Customer| Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1003|25-01-2023|    Amit|Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
+-------+----------+--------+--------+------+--------+---------------+-----------+--------+---------+--------+------+

In [131]:
# 5️ GroupBy Region and show average profit
df_grouped = df.groupBy("Region").avg("Profit")
df_grouped.show()

+------+-----------+
|Region|avg(Profit)|
+------+-----------+
| South|     4000.0|
|  East|      150.0|
|  West|    -1500.0|
| North|     1800.0|
+------+-----------+

In [132]:
# 6. Use withColumn to create TotalPrice = Quantity * UnitPrice .
df = df.withColumn("TotalPrice", col("Quantity") * col("UnitPrice"))
df.show()

+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|TotalPrice|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+
|CA-1001|15-01-2023|    Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|     55000|
|CA-1002|20-02-2023|   Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|     24000|
|CA-1003|25-01-2023|    Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|       600|
|CA-1004|01-03-2023|   Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|     18000|
|CA-1005|05-02-2023|   Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|     40000|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+

In [133]:
# 7️ Classify Profit using when().otherwise()
df = df.withColumn(
    "ProfitCategory",
    when(col("Profit") > 2000, "High")
    .when(col("Profit") <= 0, "Loss")
    .otherwise("Medium")
)
df.select("OrderID", "Profit", "ProfitCategory").show()

+-------+------+--------------+
|OrderID|Profit|ProfitCategory|
+-------+------+--------------+
|CA-1001|  5000|          High|
|CA-1002|  1800|        Medium|
|CA-1003|   150|        Medium|
|CA-1004| -1500|          Loss|
|CA-1005|  3000|          High|
+-------+------+--------------+

In [134]:
# 8. Use drop() to remove SubCategory .
df = df.drop("SubCategory")
df.show()

+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitCategory|
+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+
|CA-1001|15-01-2023|    Ravi|   Consumer| South|  Laptop|     Technology|       1|    55000|     0.1|  5000|     55000|          High|
|CA-1002|20-02-2023|   Priya|  Corporate| North| Printer|     Technology|       2|    12000|    0.15|  1800|     24000|        Medium|
|CA-1003|25-01-2023|    Amit|   Consumer|  East|Notebook|Office Supplies|       3|      200|    0.05|   150|       600|        Medium|
|CA-1004|01-03-2023|   Anita|Home Office|  West|   Table|      Furniture|       1|    18000|     0.2| -1500|     18000|          Loss|
|CA-1005|05-02-2023|   Divya|   Consumer| South|   Phone|     Technology|       2|    20000|     0.0|  3000|     40000|          High|
+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+

In [135]:
# 9. Handle nulls in Discount using fillna(0.10) .

df = df.fillna({"Discount": 0.10})
df.show()

+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitCategory|
+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+
|CA-1001|15-01-2023|    Ravi|   Consumer| South|  Laptop|     Technology|       1|    55000|     0.1|  5000|     55000|          High|
|CA-1002|20-02-2023|   Priya|  Corporate| North| Printer|     Technology|       2|    12000|    0.15|  1800|     24000|        Medium|
|CA-1003|25-01-2023|    Amit|   Consumer|  East|Notebook|Office Supplies|       3|      200|    0.05|   150|       600|        Medium|
|CA-1004|01-03-2023|   Anita|Home Office|  West|   Table|      Furniture|       1|    18000|     0.2| -1500|     18000|          Loss|
|CA-1005|05-02-2023|   Divya|   Consumer| South|   Phone|     Technology|       2|    20000|     0.0|  3000|     40000|          High|
+-------+----------+--------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+

In [136]:
# 10 Convert OrderDate to date and extract year, month
df = df.withColumn("OrderDate", to_date(col("OrderDate"), "yyyy-MM-dd"))
df = df.withColumn("Year", year(col("OrderDate")))
df = df.withColumn("Month", month(col("OrderDate")))

PART 3: Dask DataFrame Operations (Pandas Alternative)

In [137]:
!pip install dask

Requirement already satisfied: dask in /usr/local/lib/python3.11/dist-packages (2025.5.0)
Requirement already satisfied: click>=8.1 in /usr/local/lib/python3.11/dist-packages (from dask) (8.2.1)
Requirement already satisfied: cloudpickle>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from dask) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.11/dist-packages (from dask) (2025.3.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from dask) (25.0)
Requirement already satisfied: partd>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from dask) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.11/dist-packages (from dask) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.11/dist-packages (from dask) (0.12.1)
Requirement already satisfied: importlib_metadata>=4.13.0 in /usr/local/lib/python3.11/dist-packages (from dask) (8.7.0)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.11/dist-packages (from importlib_metadata>=4.13.0->dask) (3.23.0)
Requirement already satisfied: locket in /usr/local/lib/python3.11/dist-packages (from partd>=1.4.0->dask) (1.0.0)

In [138]:
import dask.dataframe as dd
import pandas as pd
df = dd.read_csv('superstore.csv')

In [139]:
print(df)

Dask DataFrame Structure:
              OrderID OrderDate Customer Segment  Region Product Category SubCategory Quantity UnitPrice Discount Profit
npartitions=1
               string    string   string  string  string  string   string      string    int64     int64  float64  int64
                  ...       ...      ...     ...     ...     ...      ...         ...      ...       ...      ...    ...
Dask Name: to_string_dtype, 2 expressions
Expr=ArrowStringConversion(frame=FromMapProjectable(d05e51d))

3. Do the following:
Compute average discount by category.

Filter orders with more than 1 quantity and high profit.

Save filtered data to new CSV.

In [140]:
# Compute average discount by category
avg_discount = df.groupby("Category").agg({"Discount": "mean"}).compute()
print("Average Discount by Category:")
print(avg_discount)

Average Discount by Category:
                 Discount
Category
Technology       0.083333
Office Supplies  0.050000
Furniture        0.200000

In [141]:
# Step 3b: Filter orders with Quantity > 1 and Profit > 100
filtered_df = df[(df["Quantity"] > 1) & (df["Profit"] > 100)]

In [142]:
print("Filtered Orders Sample:")
print(filtered_df.head())

Filtered Orders Sample:
   OrderID   OrderDate Customer    Segment Region   Product         Category  \
1  CA-1002  20-02-2023    Priya  Corporate  North   Printer       Technology
2  CA-1003  25-01-2023     Amit   Consumer   East  Notebook  Office Supplies
4  CA-1005  05-02-2023    Divya   Consumer  South     Phone       Technology

   SubCategory  Quantity  UnitPrice  Discount  Profit
1  Peripherals         2      12000      0.15    1800
2        Paper         3        200      0.05     150
4       Phones         2      20000      0.00    3000

In [143]:
# Step 3c: Save filtered data to new CSV
filtered_df.to_csv("filtered_orders_*.csv", single_file=True)

print(" Filtered data saved to 'filtered_orders.csv'")

 Filtered data saved to 'filtered_orders.csv'

PART 4: JSON Handling (Complex Nested)
1. Create a nested JSON file:
[
{
"OrderID": "CA-1001",
"Customer": {"Name": "Ravi", "Segment": "Consumer"},
"Details": {"Region": "South", "Profit": 5000}
},
{
"OrderID": "CA-1002",
"Customer": {"Name": "Priya", "Segment": "Corporate"},
"Details": {"Region": "North", "Profit": 1800}
}
]
2. Load it using PySpark:
df_json = spark.read.json('orders.json', multiLine=True)
df_json.printSchema()
df_json.select("OrderID", "Customer.Name", "Details.Profit").show()

In [144]:
# Load JSON with nested fields
df_json = spark.read.json('orders.json', multiLine=True)

# View schema to confirm nested structure
df_json.printSchema()

# Select nested fields using dot notation
df_json.select("OrderID", "Customer.Name", "Details.Profit").show()

root
 |-- Customer: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Segment: string (nullable = true)
 |-- Details: struct (nullable = true)
 |    |-- Profit: long (nullable = true)
 |    |-- Region: string (nullable = true)
 |-- OrderID: string (nullable = true)

+-------+-----+------+
|OrderID| Name|Profit|
+-------+-----+------+
|CA-1001| Ravi|  5000|
|CA-1002|Priya|  1800|
+-------+-----+------+