Python Data Structures – Intermediate Exercises
Notebook
Includes:

Nested Lists & Dicts,

Sorting,

Frequency Maps,

Set Logic,

Dictionary Comprehensions

Section 1: Nested Lists & Access
Given:
students = [
["Ravi", [85, 72, 90]],
["Sneha", [95, 88, 92]],
["Kabir", [65, 70, 60]],
["Anita", [75, 80, 78]]
]
Tasks:
1. Print Ravi’s second mark.
2. Calculate average mark for each student.
3. Print the name of students who scored above 80 in all subjects.
4. Create a new list of [name, average] .

In [41]:
import pandas as pd
import numpy as np
students = [
["Ravi", [85, 72, 90]],
["Sneha", [95, 88, 92]],
["Kabir", [65, 70, 60]],
["Anita", [75, 80, 78]]
]

In [42]:
print(students)

[['Ravi', [85, 72, 90]], ['Sneha', [95, 88, 92]], ['Kabir', [65, 70, 60]], ['Anita', [75, 80, 78]]]

In [43]:
ravi_second_mark=students[0][1][1]
print("Ravi's second mark:", ravi_second_mark)

Ravi's second mark: 72

In [44]:
# ️2 Calculate average mark for each student
for student in students:
    name, marks = student
    average = sum(marks) / len(marks)
    print(f"{name}'s average mark: {average:.2f}")

Ravi's average mark: 82.33
Sneha's average mark: 91.67
Kabir's average mark: 65.00
Anita's average mark: 77.67

In [45]:
# 3️ Print names of students who scored above 80 in all subjects
print("Students who scored above 80 in all subjects: ")
for name, marks in students:
    if all(mark > 80 for mark in marks):
        print(name)

Students who scored above 80 in all subjects:
Sneha

In [46]:
# 4️ Create a new list of [name, average]
name_avg_list = []
for name, marks in students:
    average = sum(marks) / len(marks)
    name_avg_list.append([name, average])

print("List of [name, average]:\n", name_avg_list )

List of [name, average]:
 [['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

Section 2: Dictionary of Lists

Given:
data = {
"products": ["Mobile", "Laptop", "Tablet", "Camera"],
"prices": [12000, 55000, 18000, 25000],
"ratings": [4.5, 4.7, 4.0, 4.2]
}

Tasks:
1. Create a list of dictionaries for each product:

# Example:
{'name': 'Mobile', 'price': 12000, 'rating': 4.5}

2. Filter and print products with price >

20,000 and rating >= 4.5

3. Sort the product list by rating (descending)

In [47]:
data = {
    "products": ["Mobile", "Laptop", "Tablet", "Camera"],
    "prices": [12000, 55000, 18000, 25000],
    "ratings": [4.5, 4.7, 4.0, 4.2]
}

product_list = [
    {"name": name, "price": price, "rating": rating}
    for name, price, rating in zip(data["products"], data["prices"], data["ratings"])
]

print("List of Product Dictionaries:")
for product in product_list:
    print(product)

List of Product Dictionaries:
{'name': 'Mobile', 'price': 12000, 'rating': 4.5}
{'name': 'Laptop', 'price': 55000, 'rating': 4.7}
{'name': 'Tablet', 'price': 18000, 'rating': 4.0}
{'name': 'Camera', 'price': 25000, 'rating': 4.2}

In [48]:
print("\nfiltered products :")
filtered = [p for p in product_list if p["price"] > 20000 and p["rating"] >= 4.5]
for p in filtered:
    print(p)

filtered products :
{'name': 'Laptop', 'price': 55000, 'rating': 4.7}

In [49]:

sorted_products = sorted(product_list, key=lambda p: p["rating"], reverse=True)

print("\nProducts Sorted by Rating ):")
for p in sorted_products:
    print(p)

Products Sorted by Rating ):
{'name': 'Laptop', 'price': 55000, 'rating': 4.7}
{'name': 'Mobile', 'price': 12000, 'rating': 4.5}
{'name': 'Camera', 'price': 25000, 'rating': 4.2}
{'name': 'Tablet', 'price': 18000, 'rating': 4.0}

Section 3: Frequency Dictionary + Set Operations

Given a sentence:
text = "ai is the future and ai will change everything in the ai world"
Tasks:

1. Count frequency of each word using a dictionary
2. Print only the words that appear more than once
3. Convert words into a set and print sorted unique words
4. Find common words between:

set1 = set(text.split())
set2 = {"ai", "ml", "data", "future"}

In [50]:
text = "ai is the future and ai will change everything in the ai world"
words = text.split()

freq = {}
for word in words:
    freq[word] = freq.get(word, 0) + 1

print("Word Frequencies:")
for word, count in freq.items():
    print(f"{word}: {count}")

Word Frequencies:
ai: 3
is: 1
the: 2
future: 1
and: 1
will: 1
change: 1
everything: 1
in: 1
world: 1

2. Print only the words that appear more than once

In [51]:
print("\nWords appearing more than once:")
for word, count in freq.items():
    if count > 1:
        print(word)

Words appearing more than once:
ai
the

3. Convert words into a set and print sorted unique words

In [52]:
unique_words = sorted(set(words))
print("\nSorted Unique Words:")
print(unique_words)

Sorted Unique Words:
['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']

In [53]:
set1 = set(words)
set2 = {"ai", "ml", "data", "future"}

common = set1 & set2
print("\nCommon Words:")
print(common)

Common Words:
{'ai', 'future'}

Section 4: Dictionary Comprehension + Conditional Logic
Given:

sales = {
'Amit': 70000,
'Sneha': 45000,
'Ravi': 30000,
'Anita': 90000,
'Kabir': 20000
}

Tasks:

1. Create a new dictionary with 10% bonus added to each sale
2. Filter and return only those with sales >
50,000

3. Label each person as 'High' , 'Medium' , or 'Low' based on:
75,000: High
40,000: Medium
Else: Low

In [54]:
sales = {
    'Amit': 70000,
    'Sneha': 45000,
    'Ravi': 30000,
    'Anita': 90000,
    'Kabir': 20000
}
print(sales)

{'Amit': 70000, 'Sneha': 45000, 'Ravi': 30000, 'Anita': 90000, 'Kabir': 20000}

In [55]:
# Sales with 10% bonus added
bonus_sales = {name: int(sale * 1.10) for name, sale in sales.items()}
print("Sales with 10% Bonus:")
print(bonus_sales)

Sales with 10% Bonus:
{'Amit': 77000, 'Sneha': 49500, 'Ravi': 33000, 'Anita': 99000, 'Kabir': 22000}

In [56]:
# Filtered dictionary of high sales
high_sales = {name: sale for name, sale in sales.items() if sale > 50000}
print("\nSales Above 50,000:")
print(high_sales)

Sales Above 50,000:
{'Amit': 70000, 'Anita': 90000}

In [57]:
# Label sales as High, Medium, or Low
labels = {
    name: (
        "High" if sale >= 75000 else
        "Medium" if sale >= 40000 else
        "Low"
    )
    for name, sale in sales.items()
}

print("\nSales Labels:")
print(labels)

Sales Labels:
{'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

Section 5: Tuples, Sets, and Zipping

Given:
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)

Tasks:
1. Convert both tuples to a dictionary using zip()
2. Find min and max marks
3. Create a set from marks and add a new value
4. Merge two sets and show only unique elements

In [58]:
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)

# Create dictionary from zipped tuples
student_marks = dict(zip(names, marks))
print("Student Marks Dictionary:")
print(student_marks)

Student Marks Dictionary:
{'Ravi': 88, 'Sneha': 92, 'Kabir': 76}

In [59]:
print("\nMinimum Mark:", min(marks))
print("Maximum Mark:", max(marks))

Minimum Mark: 76
Maximum Mark: 92

In [60]:

marks_set = set(marks)

marks_set.add(85)

print("\nSet of Marks with New Entry:")
print(marks_set)

Set of Marks with New Entry:
{88, 92, 85, 76}

In [61]:

extra_marks = {90, 76, 100}

merged_set = marks_set.union(extra_marks)

print("\nMerged Set (Unique Elements):")
print(merged_set)

Merged Set (Unique Elements):
{100, 85, 88, 90, 92, 76}

Bonus Challenge

You’re given the following nested dictionary of employee data:

employees = {
"E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
"E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},

"E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}

Tasks:

1. Add a new employee "E104"
2. Increase salary by 10% for Engineering department only
3. Find the department with the highest

In [62]:
employees = { "E101": {"name": "Ravi", "dept": "Sales", "salary": 50000}, "E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000}, "E103": {"name": "Kabir", "dept": "HR", "salary": 45000} }
employees

{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000},
 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 80000},
 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}}

In [63]:
employees["E104"] = {"name": "Anita", "dept": "Engineering", "salary": 85000}
employees

{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000},
 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 80000},
 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000},
 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 85000}}

In [64]:
for emp in employees.values():
    if emp["dept"] == "Engineering":
        emp["salary"] = int(emp["salary"] * 1.10)
employees

{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000},
 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 88000},
 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000},
 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 93500}}

In [65]:
from collections import defaultdict

dept_salary = defaultdict(int)

for emp in employees.values():
    dept_salary[emp["dept"]] += emp["salary"]

highest_dept = max(dept_salary, key=dept_salary.get)
print("Department with highest total salary:", highest_dept)
employees

Department with highest total salary: Engineering

{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000},
 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 88000},
 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000},
 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 93500}}