In [ ]:
import pandas as pd

# Create employees CSV
emp_data = """EmpID,Name,Department
101,Amit,Sales
102,Anita,Engineering
103,Kabir,HR
104,Sneha,Marketing
105,Ravi,Engineering
"""
with open('employees.csv', 'w') as f:
    f.write(emp_data)

# Create departments CSV
dept_data = """Department,Location
Sales,Mumbai
Engineering,Bangalore
HR,Delhi
Marketing,Chennai
"""
with open('departments.csv', 'w') as f:
    f.write(dept_data)

# Read both
df_emp = pd.read_csv('employees.csv')
df_dept = pd.read_csv('departments.csv')

print(df_emp)
print(df_dept)

   EmpID   Name   Department
0    101   Amit        Sales
1    102  Anita  Engineering
2    103  Kabir           HR
3    104  Sneha    Marketing
4    105   Ravi  Engineering
    Department   Location
0        Sales     Mumbai
1  Engineering  Bangalore
2           HR      Delhi
3    Marketing    Chennai

In [ ]:
merge_csv=pd.merge(df_emp,df_dept,on='Department',how='left')
print(merge_csv)

   EmpID   Name   Department   Location
0    101   Amit        Sales     Mumbai
1    102  Anita  Engineering  Bangalore
2    103  Kabir           HR      Delhi
3    104  Sneha    Marketing    Chennai
4    105   Ravi  Engineering  Bangalore

#SPARK

In [ ]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('BasicSpark').getOrCreate()
spark

In [ ]:
data=[('Ahana',21),('Zara',20),('Indhu',20)]
columns=['Name','Age']
df=spark.createDataFrame(data,columns)
df.show()

+-----+---+
| Name|Age|
+-----+---+
|Ahana| 21|
| Zara| 20|
|Indhu| 20|
+-----+---+

In [ ]:
csv_data="""Name,department,Salary
Ahana,Ai,21000
Iniya,Cse,10000
Celine,Cse,18000
Nikitha,DS,22000
Zara,ML,10000
"""

with open('employee.csv','w') as f:
    f.write(csv_data)

In [ ]:
df=spark.read.csv('employee.csv',header=True,inferSchema=True)
df.show()

+-------+----------+------+
|   Name|department|Salary|
+-------+----------+------+
|  Ahana|        Ai| 21000|
|  Iniya|       Cse| 10000|
| Celine|       Cse| 18000|
|Nikitha|        DS| 22000|
|   Zara|        ML| 10000|
+-------+----------+------+

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- Salary: integer (nullable = true)